$main-font:         Helvetica, sans-serif;

$lrg-text-colour:   black;
$lrg-background:    white;
$lrg-border-colour: black;

$sml-text-colour:   white;
$sml-background:    black;
$sml-border-colour:  white;

body {
    padding-bottom: 50px;
}

div {
    padding: 20px;
    margin: 20px;
    font-family: $main-font;
    font-weight: 100;
    line-height: 150%;
    border-collapse: collapse;
}

h1 {
    text-align: left;
    font-weight: 300;
}

h2 {
    text-align: left;
    font-weight: 300;
}

h3 {
    text-align: left;
    font-weight: 200;
}

div > table {
    margin-left: auto;
    margin-right: auto;
}

table, th, td, tr{
    padding: 10px;
}

.para_text {
    text-align: justify;
    vertical-align:baseline;
}

button {
    border-radius: 28px;
    font-family: $main-font;
    text-align: center;
    font-size: medium;
    height: 40px;
    width: 120px;
    transition-duration: 0.4s;
}


@media (min-width: 600px) {
    body {
        background-color: $lrg-background;
    }

    h1 {
        color: $lrg-text-colour;
    }

    h2 {
        color: $lrg-text-colour;
    }

    h3 {
        color: $lrg-text-colour;
    }

    table {
        border: 1px solid $lrg-text-colour;
    }

    th {
        border-bottom: solid $lrg-text-colour;
    }

    td, tr {
        border-bottom: 0.5px dotted gray;
    }

    /* one off styling linked to id*/
    #special_id_h1 {
        color: darkgray;
    }

    /* To style anything in a class */

    .para_text {
        color: $lrg-text-colour;
    }

    .inside_border {
        border-right: 00.5px dotted gray;
    }

    %lrg-base-code {
        background-color: $sml-background;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: 110%;
        padding: 5px;
    }


    ul, ol {
        /* list-style:none <- turns numbers or dots on or off*/
    }

    button {
        background-color: $lrg-background;
        border: 1px solid $lrg-border-colour;
        font-family: $main-font;
        color: $lrg-text-colour;
    }

    .button:hover {
        background-color: $lrg-border-colour ;
        color: white;
    }
}


@media (max-width: 599px) {
    body{
        background-color: $sml-background;
        color: $sml-text-colour;
    }
    h1 {
        color: $sml-text-colour;
    }

    h2 {
        color: $sml-text-colour;
        border-top: 1px $sml-text-colour;
    }

    h3 {
        color: $sml-text-colour;
    }

    table {
        border: 1px solid $sml-text-colour;
    }

    th {
        border-bottom: solid $sml-text-colour;
        padding: 10px;
    }

    td, tr {
        border-bottom: 0.5px dotted $sml-text-colour;
        padding: 5px;
    }

    /* one off styling linked to id*/
    #special_id_h1 {
        color: $sml-text-colour;
    }

    /* To style anything in a class */

    ul, ol {
        /* list-style:none <- turns numbers or dots on or off*/
    }

    %sml-base-code {
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: 110%;
        padding: 5px;
        background-color: $sml-background;
    }

    button {
        background-color: $sml-background;
        border: 1px solid $sml-border-colour;
        color: $sml-border-colour;
    }
}

.code {
    @extend %lrg-base-code;
    color: rgb(2, 212, 2);

}
.sass-var {
    @extend %lrg-base-code;
    color: rgb(7, 197, 255);
}

.sass-int {
    @extend %lrg-base-code;
    color: rgb(255, 44, 7);
}
.python {
    @extend %lrg-base-code;
    color: yellow;
}

.button-left {
    float: left;
}

.button-right {
    float: right;
}